# OS-specific files
.DS_Store
Thumbs.db

# VS code specific files
settings.json

# Python-specific files
__pycache__/
*.py[cod]
venv/

# Credentials
credentials.json
token.json

# Environment variables
.env

# Temporary files & test data
tmp/
test_data/