# OS-specific files
.DS_Store
Thumbs.db

# Python-specific files
__pycache__/
*.py[cod]
venv/

# Credentials
credentials.json
token.json

# Environment variables
.env

# Temporary files & test data
temp/
test_data/